UPLOADS_BUCKET_NAME="thecloudproject-uploaded-avatars"
ASSETS_BUCKET_NAME="assets.thecloudproject.store"
THUMBING_FUNCTION_PATH="/workspace/aws-bootcamp-cruddur-2023/aws/lambdas/process-images"
THUMBING_S3_FOLDER_INPUT=""
THUMBING_S3_FOLDER_OUTPUT="avatars"
THUMBING_WEBHOOK_URL="https://api.thecloudproject.store/webhooks/avatars"
THUMBING_TOPIC_NAME="cruddur-assets"